<%= render 'shared/content_title', title: "Posts" %>
<div id="posts_page">
  <%= render @posts %>
</div>
<% @pages.times do |page| %>
  <%= link_to "#{page + 1}",posts_path(offset: page + 1), remote: true, method: 'get' %>
  <% break if page == @pages - 1 %>
    |
<% end %>
