/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import "bootstrap";

 .container {
  margin-left: 135px
}

body {
  background-image: image-url("Desktop.jpg");
  background-color: #575a65;
}


.navbar .nav > li > , .navbar .nav .brand  {
  a, a:hover {
  padding-left: 0px;
  text-shadow: 0 1px 0 #ababab;
  color: #777777;
  }
}

.quiet {
  color: #ababab;
}

.time {
  color: #DBDBDB
}

.norm-nav > a, .norm-nav > a:hover, .norm-nav > a:active, .norm-nav > a:visited {
  margin-right: 10px;
  background: #575a65;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.0);
  color:  rgba(255, 255, 255, 0.5);
}

.new-post, .new-post:hover {
  background: #5bb65b;
  margin-right: 10px;
}

div.comment_votes {
  padding: 10px;
}

a, a:hover {
  color: #47B247;
  text-decoration: none;
}

hr {
  border-color: #47B247;
}

.dropdown-menu .divider {
  background: #47B247;
  border-bottom: 1px solid #47B247;
}

.well {
  background-color: #4B4B4B;
}

i#down_arrow {
  margin-right: 2px;
}

p, .dl-horizontal, span, #leave-comment {
  color: #FEFEFE;
}

.navbar-inner {
  background: #4B4B4B;
  border-color: #ADD6FF;
}

.dropdown-menu, .dropdown-menu > li > a {
  color: rgba(255, 255, 255, 0.5);
  background-color: #575a65;
}

.nav .dropdown-toggle:hover .caret {
  border-top-color: #0088cc;
  border-bottom-color: #0088cc;
}

a:hover, a:visted, a:selected {
  color: #47B247
}

#user_activity_title, #login_reminder, #comments_title  {
  color: #0088cc;
}

#user_activity_title,  #comments_title {
  text-shadow: 1px 1px 0 black;
}

input[type="submit"], input[type="submit"]:hover{
  background: #0044cc;
}

label {
  color: rgba(255, 255, 255, 0.5)
}
